body {
  background-color:#eee;
  color:#666;
  font-family:"Courier New";
  font-size:14px;
}

a {
  color:#666;
  text-decoration: none;
}

canvas {
  background-color:#f2f2f2;
  border:1px solid #888;
  margin:12px auto;
}

#main {
  margin:0 auto;
  width:900px;
}

.title {
  border-bottom:1px solid #888;
  color:#444;
  font-size:28px;
  margin-top:24px;
  margin-bottom:2px;
  padding-bottom:8px;
  padding-left:12px;
  width:790px;
}

.subtitle {
  font-size:18px;
}

.tsp {
  background-color:#f2f2f2;
  border:1px solid #aaa;
  display:inline-block;
  font-size:17px; 
  text-align:center;
  margin:2px 0;
  width:144px;
}

.content {
  border-bottom:1px solid #888;
  padding-bottom:8px;
  padding-left:12px;
  padding-top:8px;
  width:790px;
}

.red {
  color:#844;
}

.green {
  color:#484;
}

.blue {
  color:#448;
}

.bigger {
  display:inline-block;
  font-size:16px;
  width:110px;
}
